@import "quasar.variables";

* {
  font-family: "Metal Mania", sans-serif;
}

.chart-container {
  min-width: 300px;
  border: 2px solid $primary;
  padding: 5px;
}

.q-header, .q-toolbar {
  height: 60px;

  .q-toolbar__title {
    text-align: center;
  }
}

.q-field__inner {
  background-color: white;
  border: $secondary 2px solid;
  border-radius: 5px
}

.sim-form {
  max-height: 87vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

h4 {
  width: 100%;
  text-align: center;
  color: white
}

.sim-form-container, .graph-and-stats{
  max-height: 85vh;
  width: 49%;
}


p {
  color: white;
}

.q-checkbox__label {
  color: white;
}

.q-checkbox__bg {
  border-color: $secondary;
  background-color: white;
}


@media screen and (max-width:600px){
  .sim-form-container, .graph-and-stats{
    width: 100%;
  }
  .sim-form{
    height: 500px;
  }
}
