<template>
  <div class="card-container">
    <q-card class="my-card bg-white">
      <q-card-section>
        <div class="text-h4 q-mb-lg">
          Algorithm return
          <span class="text-grey" style="font-size: 12px">Infos below are the average of 5000 Attacks phase with your unit on the defender</span>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-3">Hits: {{ finalData.hit_number ? finalData.hit_number.toFixed(1) : '-' }}</div>
            <div class="col-3">Wounds: {{ finalData.wound_number ? finalData.wound_number.toFixed(1) : '-' }}</div>
            <div class="col-6">Mortal Wounds: {{ finalData.MW_number ? finalData.MW_number.toFixed(1) : '-' }}</div>
          </div>
          <q-separator/>
          <div class="row">
            <div class="col-5">Damages taken after save:
              {{ finalData.damages_taken ? finalData.damages_taken.toFixed(1) : '-' }}
            </div>
            <div class="col-5">Damages taken after ward:
              {{ finalData.damages_after_ward ? finalData.damages_after_ward.toFixed(1) : '-' }}
            </div>
          </div>
          <q-separator/>
          <div class="row">
            <div class="col-3">Saves: {{ finalData.saves ? finalData.saves.toFixed(1) : '-' }}</div>
            <div class="col-3">Ward saves: {{ finalData.ward_saves ? finalData.ward_saves.toFixed(1) : '-' }}</div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "FinalDataCard",
  props: {
    finalData: {
      hit_number: Number,
      damages_taken: Number,
      MW_number: Number,
      wound_number: Number,
      damages_after_ward: Number,
      saves: Number,
      ward_saves: Number,
      init_attacks: Number,
      profile: {
        model_number: Number,
        attacks_per_model: Number,
        has_chief: Boolean,
        rend: Number,
        to_hit: Number,
        to_wound: Number,
        hit_reroll: String,
        wound_reroll: String,
        defender: {
          save: Number,
          ward: Number,
          re_roll: String,
          ethereal: Boolean
        }
      }
    }
  },
  setup(props) {
    return {props}
  }
})
</script>

<style scoped>

</style>
