<template>
  <div class="chart-container">
    <highcharts :options="chartOptions"></highcharts>
  </div>

</template>

<script>
import {Chart} from 'highcharts-vue'
import {defineComponent, ref} from "vue";

export default defineComponent({
  name: "GraphComponent",
  components: {
    highcharts: Chart
  },
  props:{
    stats: Array
  },
  setup(props) {
    const chartOptions = ref({
      title:{
        text: ''
      },
      yAxis: {
        title: {
          text: 'Probabilities'
        },
        ceiling:100
      },

      xAxis: {
        ceiling:30,
        accessibility: {
          rangeDescription: 'Range: 0 to 25'
        }
      },
      legend: {
        itemWidth:150,
        layout: 'horizontal',
        align: 'left',
        verticalAlign: 'bottom'
      },
      series: props.stats,
      responsive: {
        rules: [{
          condition: {
            minWidth: 400,
          },
          chartOptions: {
            legend: {
              layout: 'horizontal',
              align: 'center',
              verticalAlign: 'bottom'
            }
          }
        }]
      }
    });
    return {chartOptions}
  }
})
</script>

