<template>
  <div class="sim-form">
    <q-form
      ref="test"
      @submit="onSubmit"
      class="q-gutter-md bg-primary q-pa-md"
    >
      <h4>Unit</h4>
      <div class="row justify-between">
        <div class="col-5">
          <q-input
            outlined
            label="Model number"
            v-model="form.profile.model_number"
            :rules="[ val => val && val > 0 || 'Invalid value']"
            mask="##"
            required
          />
        </div>
        <div class="col-5">
          <q-input
            outlined
            v-model="form.profile.model_attack"
            label="Attacks per model"
            :rules="[val => testRegex(val) || 'invalid value']"
            required
          >
            <q-tooltip
              class="bg-secondary"
              transition-show="rotate"
              transition-hide="rotate"
              anchor="top middle" self="bottom middle" :offset="[10, 10]"
            >
              Examples: 2, 1D3, 2D6+2, 1D32
            </q-tooltip>
          </q-input>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <q-input
            outlined
            v-model="form.profile.dmg_type"
            label="Damages"
            :rules="[val => testRegex(val) || 'invalid value']"
            required
          >
            <q-tooltip
              class="bg-secondary"
              transition-show="rotate"
              transition-hide="rotate"
              anchor="top middle" self="bottom middle" :offset="[10, 10]"
            >
              Examples: 2, 1D3, 2D6+2, 1D3+2
            </q-tooltip>
          </q-input>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
          <q-checkbox
            dense
            class="q-ml-xs"
            size="lg"
            color="secondary"
            outlined
            v-model="form.profile.has_chief"
            label="Has chief"
          />
        </div>
      </div>
      <div class="row justify-between">
        <div class="col-3">
          <q-input
            outlined
            v-model="form.profile.to_hit"
            label="To hit"
            :rules="[ val => val && val > 0 || 'Invalid value']"
            mask="#"
            required
          />
        </div>
        <div class="col-4">
          <q-input
            outlined
            v-model="form.profile.to_wound"
            label="To wound"
            :rules="[ val => val && val > 0 || 'Invalid value']"
            mask="#"
            required
          >
          </q-input>
        </div>
        <div class="col-3">
          <q-input
            outlined
            v-model="form.profile.rend"
            label="Rend"
            mask="#"

          />
        </div>


      </div>

      <div class="row">
        <div class="col-6 q-pr-xs">
          <q-select
            outlined
            v-model="form.profile.hit_re_roll"
            :options="reroll_options"
            label="Hit reroll"
            emit-value
            map-options
          />
        </div>
        <div class="col-6 q-pl-xs">
          <q-select
            outlined
            v-model="form.profile.wound_re_roll"
            :options="reroll_options"
            label="Wound reroll"
            emit-value
            map-options
          />
        </div>

      </div>

      <div class="col-12">
        <div class="row">
          <p style="text-decoration: underline;text-underline: white">Hit proc:</p>
        </div>
        <div class="row justify-between items-center q-mb-md">
          <q-select
            outlined
            v-model="form.profile.procs.hit_proc.name"
            :options="hit_procs"
            emit-value
            map-options
          />
        </div>
        <div class="row">
          <div class="col-4">
            <q-input
              outlined
              v-model="form.profile.procs.hit_proc.value"
              label=""
              mask="#"
            />
          </div>
          <div class="col-2 self-center">
            <span class="q-ml-md">on</span>
          </div>
          <div class="col-4">
            <q-input
              outlined
              v-model="form.profile.procs.hit_proc.roll"
              label=""
              mask="#"
            />
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="row">
          <p style="text-decoration: underline;text-underline: white">Wound proc:</p>
        </div>
        <div class="row justify-between items-center q-mb-md">
          <q-select
            outlined
            v-model="form.profile.procs.wound_proc.name"
            :options="wound_procs"
            emit-value
            map-options
          />
        </div>
        <div class="row">
          <div class="col-4">
            <q-input
              outlined
              v-model="form.profile.procs.wound_proc.value"
              label=""
              mask="#"
            />
          </div>
          <div class="col-2 self-center">
            <span class="q-ml-md">on</span>
          </div>
          <div class="col-4">
            <q-input
              outlined
              v-model="form.profile.procs.wound_proc.roll"
              label=""
              mask="#"
            />
          </div>
        </div>
      </div>

      <hr>

      <h4> Wide effects</h4>
      <div class="row justify-between">
        <div class="col-6 q-pr-xs">
          <q-select
            outlined
            v-model="form.wide_effects.hit_modifier"
            :options="modifier_options"
            label="Hit modifier"
            emit-value
            map-options
          />
        </div>
        <div class="col-6 q-pl-xs">
          <q-select
            outlined
            v-model="form.wide_effects.wound_modifier"
            :options="modifier_options"
            label="Wound modifier"
            emit-value
            map-options
          />
        </div>
      </div>

      <hr>

      <h4>Target</h4>
      <div class="row justify-between">
        <div class="col-5">
          <q-input
            outlined
            v-model="form.defender.save"
            label="Save"
            mask="#"
            required
          />
        </div>
        <div class="col-5">
          <q-input
            outlined
            v-model="form.defender.ward"
            label="Ward"
            mask="#"
          />
        </div>

      </div>
      <div class="row">
        <div class="col-7">
          <q-select
            class="q-mr-lg"
            outlined
            v-model="form.defender.re_roll"
            :options="reroll_options"
            label="Save reroll"
            emit-value
          />
        </div>
        <div class="col-3 self-center">
          <q-checkbox
            color="secondary"
            v-model="form.defender.ethereal"
            label="Is ethereal"
          />
        </div>
      </div>

      <div>
        <q-btn label="Sigmulate" type="submit" color="secondary"/>
      </div>
    </q-form>
  </div>
</template>

<script>
import {defineComponent, ref} from "vue";

export default defineComponent({
  name: "SimulatorForm",
  emits: ['test'],
  setup(props, {emit}) {
    const form = ref({
      profile: {
        model_number: null,
        model_attack: null,
        has_chief: false,
        to_hit: null,
        to_wound: null,
        rend: null,
        dmg_type: null,
        hit_re_roll: null,
        wound_re_roll: null,
        procs: {
          hit_proc: {
            name: null,
            roll: null,
            value: null
          },
          wound_proc: {
            name: null,
            roll: null,
            value: null
          }
        },
      },
      defender: {
        re_roll: null,
        save: null,
        ward: null,
        ethereal: false
      },
      wide_effects: {
        hit_modifier: null,
        wound_modifier: null
      }
    })
    const test = ref(null)

    function testRegex(val) {
      const regexs = ['^\\d{1,2}(D[36]{1}(\\+\\d{1}){0,1}){0,1}$','^\\d{1,2}$']
      let matched = false
      regexs.map(
        (regex) => {
          const match = RegExp(regex).test(val)
          if (match){
            matched = true
          }
        }
      )
      return matched
    }

    function onSubmit() {
      emit('submitData', form.value)
    }

    return {
      testRegex,
      onSubmit,
      form,
      test,
      reroll_options: [
        'None',
        'reroll failed',
        'reroll 1',
      ],
      hit_procs: [
        {label: 'None', value: null},
        {
          label: 'MW on hit',
          value: 'MW_on_hit',
        },
        {
          label: 'DMG on hit',
          value: 'DMG_on_hit',
        },
        {
          label: 'additional MW on hit',
          value: 'additional_MW_on_hit',
        },
        {
          label: 'rend on hit',
          value: 'rend_on_hit',
        },
        {
          label: 'additional DMG on hit',
          value: 'additional_DMG_on_hit',
        },
        {
          label: 'attacks on hit',
          value: 'attacks_on_hit',
        },
      ],
      wound_procs: [
        {label: 'None', value: null},
        {
          label: 'MW on wound',
          value: 'MW_on_wound'
        },
        {
          label: 'DMG on wound',
          value: 'DMG_on_wound',
        },
        {
          label: 'additional MW on wound',
          value: 'additional_MW_on_wound',
        },
        {
          label: 'rend on wound',
          value: 'rend_on_wound',
        },
        {
          label: 'additional DMG on wound',
          value: 'additional_DMG_on_wound',
        },
      ],
      modifier_options: [
        {label: 'None', value: null},
        {label: '+1', value: 1},
        {label: '-1', value: -1},
      ],

    }
  }
})
</script>

<style scoped>

</style>
