<template>
  <q-page class="row q-pa-sm justify-between">
    <div class="sim-form-container q-pa-sm">
      <simulator-form
        @submitData="getAlgorithm"
      />
    </div>
    <div class="graph-and-stats q-pa-sm">
      <graph-component class="graph-container q-mb-md"
                       :key=count
                       :stats=stats
      />
      <final-data-card class="data-container"
                       :final-data="finalData"
      />
    </div>

  </q-page>
</template>

<script>
import {defineComponent, ref} from "vue";
import {QSpinnerGears, useQuasar} from 'quasar'
import GraphComponent from "../components/GraphComponent.vue";
import SimulatorForm from "../components/SimulatorForm.vue";
import FinalDataCard from "../components/FinalDataCard.vue";
import {ApiService} from "../services";

export default defineComponent({
  name: "Simulator",
  components: {GraphComponent, SimulatorForm, FinalDataCard},


  setup() {

    const $q = useQuasar()


    const count = ref(0)
    const apiService = new ApiService();
    const finalData = ref({})
    const stats = ref([])
    const getAlgorithm = async (data) => {
      $q.loading.show({
        message: "Attack phase launched. Please wait a second",
        spinner: QSpinnerGears,
        delay: 400, // ms
      })
      await apiService.postAlgorithm(data)
        .then((response) => {
          $q.loading.hide()
          finalData.value = response.data.final_data;
          stats.value = response.data.stats
          count.value++
        })
        .catch(() => {
          $q.notify("error during algorithm calculation")
          $q.loading.hide();
        });
    }

    return {
      stats,
      finalData,
      count,
      getAlgorithm
    }
  }

})
</script>

<style scoped>

</style>
